includeConfig "./subworkflows/ena_downloader.config"
includeConfig "../irods_extractor/subworkflows/irods.config"

params {
    studyid = null
    runid = null
    laneid = null
    plexid = null
    manifest_ena = null
    manifest_of_lanes = null
    manifest_of_reads = null
    manifest = null
    manifest_from_dir = null
    fastq_validation = "strict"
    max_depth = 0
}