includeConfig "./subworkflows/ena_downloader.config"
includeConfig "../irods_extractor/subworkflows/irods.config"
includeConfig "../pipeline_chaining/subworkflows/skip_downloaded.config"

params {
    studyid = null
    runid = null
    laneid = null
    plexid = null
    manifest_ena = null
    manifest_of_lanes = null
    manifest_of_reads = null
    manifest = null
    manifest_from_dir = null
    fastq_validation = "strict"
    max_depth = 0

    //Derived params for IRODS Illumina extract
    prevent_redownloads = params.only_new_input
    preexisting_output_dir = "${params.raw_reads_prefix}fastqs"
    existing_output_extension = ".gz"
    existing_output_id_suffix = "_1.fastq"
}