process {
    withName: 'PIPELINE_EVENTS_OPEN_BATCH|PIPELINE_EVENTS_CLOSE_BATCH|PIPELINE_EVENTS_CREATE_FILE' {
        shell = ['/bin/sh', '-eu']
    }
}
singularity {
    envWhitelist = "PIPELINE_EVENTS_DATABASE_HOSTS,PIPELINE_EVENTS_DATABASE_USER,PIPELINE_EVENTS_DATABASE_PASSWORD,PIPELINE_EVENTS_DATABASE_DBNAME"
}