params {
    // Sylph parameters
    sylph_refset = true
    sylph_db = "/data/pam/software/sylph/gtdb-r226-c200-dbv1/gtdb-r226-c200-dbv1.syldb"
    save_sylph_sketches = true
    sketch_size = 31 // Only ksize 21 or 31 supported
    sylph_ani = 95
    sylph_cov = 0.01
    sylph_tax_metadata = "/data/pam/software/sylph-tax/v1/gtdb_r226_metadata.tsv"
    sylph_estimate_unknown = false
    save_sylph_sketches = true
    taxonomic_grouping = "species"
}
