params {
    // Sylph parameters
    sylph_db = "/data/pam/software/sylph/gtdb_full_r226.syldb"
    save_sylph_sketches = true
    sylph_k = 31 // Only 21 or 31 supported
    sylph_mean_ani = 95
    sylph_mean_cov = 0.01
    sylph_tax_metadata = "/data/pam/software/sylph-tax/v1/gtdb_r226_metadata.tsv"
    taxonomic_rank = "species"
    pool_latin_taxa = false
    genome_id_to_file = "/data/pam/collections/GTDB/release226/genomic_files_all_retrievable_2026_03_05/metadata/id_to_genome_path.tsv"
}
