params {
    checkm2_db = "/data/pam/software/checkm2_db/uniref100.KO.1.dmnd"
    gunc_db = "/data/pam/software/gunc/GTDB/gunc_db_gtdb95.dmnd"
    mdmcleaner_db = "/data/pam/software/mdmcleaner/v1"
    gtdbtk_db = "/data/pam/software/GTDBTk/release226"

    min_contig_length = 1000

    fasta_ext = "fa"
    report_config = "${projectDir}/assorted-sub-workflows/qc_mags/assets/report_config.json"
    autoqc_config = null
}
