params {
    // Sylph parameters
    sylph_profile = true
    sylph_db = "/data/pam/software/sylph/gtdb-r226-c200-dbv1/gtdb-r226-c200-dbv1.syldb"
    save_sylph_sketches = false
    sketch_size = 31 // Only ksize 21 or 31 supported
    sylphtax_db_tag = "/data/pam/software/sylph-tax/v1/gtdb_r226_metadata.tsv"
    // Kraken2 parameters
    bracken_profile = false
    kraken2_db = "/data/pam/software/kraken2/standard/k2_standard_20250402"
    classification_level = 'S'
    read_len = 150
=========
    sylphtax_db_tag = "/data/pam/software/sylph-tax/v1/gtdb_r226_metadata.tsv"
>>>>>>>>> Temporary merge branch 2
}