params {
    sylph_profile = true
    bracken_profile = false

    sylph_db = "/data/pam/software/sylph/gtdb-r226-c200-dbv1/gtdb-r226-c200-dbv1.syldb"
    save_sylph_sketches = false
    sketch_size = 31 // Only ksize 21 or 31 supported
    sylphtax_db_tag = "/data/pam/software/sylph-tax/v1/gtdb_r226_metadata.tsv"
}