includeConfig "../ena_downloader.config"

params {
    studyid = -1 // default value that should fail the iRODS query
    runid = -1 // default value that should fail the iRODS query
    laneid = -1 // default value that should fail the iRODS query
    plexid = -1 // default value that should fail the iRODS query
    target = "1"
    type = "cram"
    manifest_ena = null
    manifest_of_lanes = null
    manifest_of_reads = null
    manifest = null
}