params {
    checkm1 = false
    checkm2_db = "/data/pam/software/checkm2_db/uniref100.KO.1.dmnd"
    min_completeness = 50
    max_contamination = 5
    remove_ambiguous_contigs = false
}

process {
  withName: 'CHECKM|CHECKM2' {
    exitStatusReadTimeoutMillis = 300000  // wait up to 5 minutes
  }
}