params {
    assembly_stats = false
    min_contig = { -> [params.maxbin2_min_contig, params.concoct_min_contig, params.metabat_min_contig].min() }
    fastspades = null
    lock_phred = null
    metaspades = true
    megahit = true
    megahit_deterministic = false
    output_transposed = false
}

process{
    withName:METASPADES{
        shell = ['/bin/bash', '-u'] // omitting default option -e (errexit; see https://tldp.org/LDP/abs/html/options.html)
    }
}
