params {
    strict_max = 2
    permissive_max = 5
    min_completeness = 50
    max_contamination = 5
    checkm2_db = "/data/pam/software/checkm2_db/uniref100.KO.1.dmnd"
    checkm1 = false
    lock_phred = false
}

process{
    withName:SPADES_REASSEMBLE{
        shell = ['/bin/bash', '-u'] // omitting default option -e (errexit; see https://tldp.org/LDP/abs/html/options.html)
    }
}
