params {
    strict_max = 2
    permissive_max = 5
    min_contig = { -> [params.maxbin2_min_contig, params.concoct_min_contig, params.metabat_min_contig].min() }
    min_completeness = 50
    max_contamination = 5
    checkm2_db = "/data/pam/software/checkm2_db/uniref100.KO.1.dmnd"
    checkm1 = false
    lock_phred = false
}

process{
    withName:SPADES_REASSEMBLE{
        shell = ['/bin/bash', '-u'] // omitting default option -e (errexit; see https://tldp.org/LDP/abs/html/options.html)
    }
    withName: 'CHECKM|CHECKM2' {
        exitStatusReadTimeoutMillis = 300000  // wait up to 5 minutes
  }
}
