params {
    lane_plex_sep = "#"
    combine_same_id_crams = false // false by default i.e. treat each cram independently
    irods_subset_to_skip = "phix"
    save_metadata = true //on by default
    cleanup_intermediate_files_irods_extractor = false
    read_type = "Illumina"
    short_metacsv_name = false
    large_data = false

}

env {
    REF_PATH="/lustre/scratch125/core/sciops_repository/cram_cache/%2s/%2s/%s:/lustre/scratch126/core/sciops_repository/cram_cache/%2s/%2s/%s:URL=http:://refcache.dnapipelines.sanger.ac.uk::8000/%s"
}

process {
    // for IRODS_EXTRACTOR subworkflow
    withName:RETRIEVE_CRAM {
        executor = "lsf"
        clusterOptions = "-R 'rusage[seqirods=100]'"
    }

    withName:RETRIEVE_FASTQ {
        executor = "lsf"
        clusterOptions = "-R 'rusage[seqirods=100]'"
    }
}
