params {
    save_metadata = true //on by default
    combine_same_id_crams = false // false by default i.e. treat each cram independently
    dehumanising_method = "kneaddata_bowtie2_T2T"
    cleanup_intermediate_files_irods_extractor = false
    save_fastqs = false
    save_method = "nested"
    raw_reads_prefix = ""
    preexisting_fastq_tag = "raw_fastq"
    split_sep_for_ID_from_fastq = "_1.fastq"
    lane_plex_sep = "#"
    start_queue = "normal"
    irods_subset_to_skip = "phix"
    short_metacsv_name = false
}

env {
    REF_PATH="/lustre/scratch125/core/sciops_repository/cram_cache/%2s/%2s/%s:/lustre/scratch126/core/sciops_repository/cram_cache/%2s/%2s/%s:URL=http:://refcache.dnapipelines.sanger.ac.uk::8000/%s"
}

process {
    // for IRODS_EXTRACTOR subworkflow

    withName:JSON_PREP {
        executor = "local"
    }

    withName:BATON {
        executor = "local"
        maxForks = 1
    }

    withName:JSON_PARSE {
        executor = "local"
    }

    withName:RETRIEVE_CRAM {
        executor = "lsf"
        clusterOptions = "-R 'rusage[seqirods=100]'"
    }
}
