
params {
    study = -1 // default value that should fail the iRODS query
    runid = -1 // default value that should fail the iRODS query
    laneid = -1 // default value that should fail the iRODS query
    plexid = -1 // default value that should fail the iRODS query
}

env {
    REF_PATH="/lustre/scratch125/core/sciops_repository/cram_cache/%2s/%2s/%s:/lustre/scratch126/core/sciops_repository/cram_cache/%2s/%2s/%s:URL=http:://refcache.dnapipelines.sanger.ac.uk::8000/%s"
}


params {
    cleanup_intermediate_files_irods_extractor = false
}