includeConfig "../preprocessing/preprocessing.config"
includeConfig "../taxo_profile/taxo_profile.config"

params {
    run_qc = true       // true by default, but can be turned off at the pipeline level 
                        // and it will still return empty channels for the various QC outputs,
                        // so downstream workflow compatibility is maintained either way
    read_type == "illumina" // only valid option for the moment; other values will result in no preprocessing and empty stats channels, but this may change in the future as we add more options for long read data
                            // deliberate choice to not expose this in help message schema, but we will have to if we expand the scope
    save_fastqc = false
    fastqc_pass_criteria = "${projectDir}/assorted-sub-workflows/qc/assets/fastqc_pass_criteria.json"
    fastqc_no_fail_criteria = "${projectDir}/assorted-sub-workflows/qc/assets/fastqc_no_fail_criteria.json"
    genus_abundance_threshold = 90
    species_abundance_threshold = 85
}