includeConfig "../preprocessing/preprocessing.config"
includeConfig "../taxo_profile/taxo_profile.config"

params {
    save_fastqc = false
    fastqc_pass_criteria = "${projectDir}/assorted-sub-workflows/qc/assets/fastqc_pass_criteria.json"
    fastqc_no_fail_criteria = "${projectDir}/assorted-sub-workflows/qc/assets/fastqc_no_fail_criteria.json"
    genus_abundance_threshold = 90
    species_abundance_threshold = 85
    
}
