includeConfig "../preprocessing/preprocessing.config"
includeConfig "../taxo_profile/taxo_profile.config"

params {
    // -- scripts --//
    params.script_src_path="${projectDir}/assorted-sub-workflows/qc/bin/" 
    run_trimmomatic = true
    run_trf = false
    run_bmtagger = false
    if ((params.run_trimmomatic == false) && (params.run_trf == false) && (params.run_bmtagger == false)){
        skip_preprocessing = true
    }
    else {
        skip_preprocessing = false
    }
    save_fastqc = false
    fastqc_pass_criteria = "${projectDir}/assorted-sub-workflows/qc/assets/fastqc_pass_criteria.json"
    fastqc_no_fail_criteria = "${projectDir}/assorted-sub-workflows/qc/assets/fastqc_no_fail_criteria.json"
    genus_abundance_threshold = 90
    species_abundance_threshold = 85
    
}
